@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 27);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#particles-header {
  position: relative;
  height: 100vh;
}

#hero {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  display: block;
  color: #BDBDBD;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: 5px;
}

.adrenaline-title {
color: #DCB624;
font-size: 40px;
text-transform: uppercase;
text-align: center;
padding-top:  40vh;
font-family: 'Roboto';
}

#about {  
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background: url(../assets/images/about-background.png) no-repeat center;
  background-size: 100%;
}

.sidebar-image {
width: 500px;  
z-index: 1; 
background-color: #1B1B1B;
}

.logo-about {
position: relative;
width: calc(50% + 150px);
padding: 0 30px;
display: flex;
flex-direction: column;
justify-content: center;
}

.logo-about::after{
position: absolute;
content: '';
top: 0;
left: 0;
clip-path: polygon(0 0, 15% 0, 100% 100%, 0% 100%);
width: 100%;
height: 100vh;
background-color: #1B1B1B;
z-index: -1;
}

.logo-white, .footer-logo {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  }

.logo-white img, .footer-logo img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}


.about-text {
  position: relative;
  font-family: "Bebas Neue";
  width: 500px;
  color: #c7c7c7;
  font-weight: 300;
  font-size: 30px;  
  width: 500px;
  z-index: 2;
}

.about-contents {
  margin-top: 80px;
}

.btn-link {
display: inline-block;
border: 0;
outline: 0;
border-radius: 25px;
color: #1b1b1b;
background-color: #FF9933;
font-family: "Bebas Neue";
font-size: 20px;
margin-bottom: 50px;
margin-right: 0;
text-decoration: none;
text-align: center;
padding: 12px 20px;
vertical-align: center;
min-width: 120px;
}

.btn-link + .btn-link{
margin-left: 40px;
}

.btn-link i + span{
margin-left: 10px;
}



.classes-title{
  position: relative;
  width: calc(50% - 150px);
  display: flex;
  justify-content: center;
}

.section-header{
position: relative;
font-size: 40px;
margin-top:auto;
margin-bottom: 20px;
}

.section-header h1{
position: relative;
display: block;
font-family: "Bebas Neue";
letter-spacing: 10px;
color: #EAEAEA;
font-size: 2.5em;
}

.section-header h1.text-dark{
color: #1b1b1b;
}

.section-header h1 + i{
position: relative;
font-size: 1.5em;
color: #EAEAEA;
text-align: center;
}

.text-center{
text-align: center;
}

.classes-schedule-title {
display: flex;
width: 100%;
font-size: 40px;
color: rgb(196, 193, 199);
position: absolute;
left: 0px;
top: 0px;
margin-top: 20px;
margin-left: -50px;
flex-direction: row;
justify-content: space-around;
font-family: "Bebas Neue";
letter-spacing: 10px;

}

.schedule {
display: flex;
width: 100%;
justify-content: flex-end;
height: 38vh;
}

.schedule-contents {
position: relative;
}


table {
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  }



#schedule {
  height: 100vh;
  position: relative;
  display: flex;
}

#schedule .schedule-section{
  background:url(../assets/images/schedule-section-1.png) no-repeat left top;
  background-size: 100%;
  order: 1;
}

#schedule .schedule-card{
  order: 2;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.w-50{
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}


td {
text-align: center;
padding: 1px;
}

th {
text-align: center;
padding: 2px;
letter-spacing: 4px;
font-size: 25px;
}

tr.highlight-row{
  background: linear-gradient(90deg, rgba(27,27,27,1) 60%, rgba(73,125,73,0) 100%);
}

.even {
background-color: #FF9933;
color: #1b1b1b;
margin: 5px;
padding: 5px;
}


.odd {
  background-color: #1b1b1b;
  color: #E6E6E6;
  margin: 5px;
  padding: 5px;
}

.class-card{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 50%; 
}
  
.class-card .card-block{
  position: relative;
  margin: 30px auto;
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  font-family: "Bebas Neue";
  letter-spacing: 2px;
  font-size: 20px;
  background: #2E2E2E;
  color: #ffffff; 
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}

.card-block:hover {
  background: #FF9933;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #c7c7c7;
  font-weight: 700;
  font-size: 30px;
  background-color: #1b1b1b;
  padding: 10px 50px;
  margin: 40px 20px 20px;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  border-radius: 15px;  
  border: 1px solid #2e2e2e;
  transition: all ease-in-out 0.2s;
  }

  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
  }

  .btn:hover span{
    color:#1B1B1B;
  }
  
  .btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 500%;
  width: 140%;
  background: #FF9933;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(15deg);
  }
  
  
  .btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  
  }



#footer {
  background-color: #ffffff;
  position: relative;
  width: 100%;
}


.socials {
  display: flex;
  position: absolute;  
  right: 15%;
  top: calc(50% + 30px);
  transform: translateY(-50%);
} 

.socials a {
  position: relative;
  display: block;
  text-decoration: none;

  border-radius: 50%;
  overflow: hidden;
}

.socials a + a{
  margin-left: 30px;
}

.socials a a{
  width: 100%;
  height: auto;
}

.footer-content {
  position: relative;
  width: 100%;
  color: #c7c7c7;
  outline: #2E2E2E;  
  background-color: rgb(27, 27, 27);
  padding-top: 90px;
}

.footer-content-wrap{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.footer-content-wrap .footer-logo{
  max-width: 250px;
  flex: 1;
}
.footer-content-wrap .footer-links{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 2;  
  padding-left: 100px;
}

.footer-content-wrap .footer-links .link-section{
  display: flex;
  flex-direction: column; 
  border-left: 1px solid #2E2E2E;
}

.footer-content-wrap .footer-links .link-section + .link-section{
  margin-left: 30px;
}

.footer-content-wrap .footer-links .link-section a{
  text-decoration: none;
  margin: 15px 20px;
}

.footer-content-wrap .footer-links .link-section a span{
  color: #C7C7C7;
  transition: all ease-in-out 0.2s;
}

.footer-content-wrap .footer-links .link-section a:hover span{
  color: #FF9933;
}

.footer-content-wrap .footer-links .link-section a img{
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  max-width: 15px;
}

.footer-content-wrap .contact-details{
  display: flex;
  flex-direction: column;
  margin-left: auto;  
  padding-right: 50px;
  height: 100%;
}

.footer-content-wrap .contact-details p{
  margin:15px 0;

}

.footer-content-wrap .contact-details p i{
  font-size: 26px;
  vertical-align: middle;
  color: #ffffff;
  margin-left: 20px;
  font-size: 18px;
}

.footer-content-wrap .contact-details p span{
  font-size: 12px;
}

.footer-content-wrap .contact-details p span:hover{
  color: #FF9933;
  cursor: pointer;
}

.footer-content i + span{
  margin-left: 10px;
}

.footer-logo {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background: url(../assets/images/logo-white.png) no-repeat 0 0;
  background-size: cover;
}

.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.curve svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 200px;
}

.curve .shape-fill {
  fill: #1b1b1b;
}

#particles-footer {
  position: relative;
  width: 100%;  
}

.footer-wave{
  position: relative;
  display: block;
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.footer-wave::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: url(../assets/images/footer-wave.png) no-repeat left bottom;
  background-size: cover;
  width: 100%;
  height: 190px;
  z-index: 3;
}


.copyright-text {
  display: flex;
  width: 100%;
  color: #d2d2d2;
  justify-content: center;
  padding: 20px 0;
  background: #1b1b1b;
  font-size: 12px;
}

.mobile {
  display: none;
}

.not-mobile  {
  display: block;
}


/* animations */

.hidden {
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(-100%); */
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  /* transform: translateX(100%); */

}



.btn-link:nth-child(2) {
  transition-delay: 200ms;
}

.btn-link:nth-child(3) {
  transition-delay: 300ms;
}

/* card animations */

.w-50:not(.card-box):nth-child(1) {
  transition-delay: 100ms;
}

.w-50:not(.card-box):nth-child(2) {
  transition-delay: 200ms;
}


.w-50:not(.card-box):nth-child(3) {
  transition-delay: 300ms;
}


.w-50:not(.card-box):nth-child(4) {
  transition-delay: 400ms;
}


.w-50:not(.card-box):nth-child(5) {
  transition-delay: 500ms;
}


.w-50:not(.card-box):nth-child(6) {
  transition-delay: 600ms;
}




/* animations end*/

@media only screen and (min-width:1024px) {
  .desktop-only {
    display: block;
  }
}

@media only screen and (max-width:767px) {

}

@media only screen and (max-width:450px) {
  #about{
    height: auto;
    flex-direction: column;
    background: #1B1B1B;
  }

  .about-text{
      width: 100%;
  }

  .logo-about{
    width: 100%;
    padding: 0 15px;
  }

  .logo-about::after{
    content:none;
  }

  .btn-link{
    font-size: 16px;
    padding: 10px 16px;
    min-width: unset;
  }

  .btn-link + .btn-link{
    margin-left: 15px;
  }

  .classes-title{
    width: 100%;
  }

  .w-50:not(.card-box){
    flex: 0 0 100%;
    max-width: 100%;
  }

  .section-header h1{
    font-size: 1.8em;
  }

  #schedule{
    height: auto;
  }

  td{
    padding: 5px 0;
    text-align: left;
  }

  th{
    min-width: 100px;
  }

  .mobile{
    display: block;
  }
  .desktop-only{
    display: none;
  }

  .footer-content-wrap{
    flex-direction: column;
  }

  .footer-content-wrap .footer-links{
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }


  #schedule .schedule-section{
    order: 2;
  }
  #schedule .schedule-card{
      order: 1;
  }

  .class-card .card-block{
    height: 140px;
    width: 140px;
    border-radius: 10px;
    font-size: 16px;
  }

  .btn{
    font-size: 20px;
  }

  .footer-wave{
    height: 200px;
  }

  .footer-wave::after{
    background-position: 0 0;
    background-size: 100%;
  }

  .socials{
    left: 50%;
    top: calc(50% + 40px);
    transform: translate(-50%, -50%);
    right: unset;
  }

  .socials a{
    width: 50px;
    height: 50px;
  }

  .copyright-text{
    font-size: 10px;
    padding: 12px 0;
  }
}

/* social media */

ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 80px;
  height: 80px;
  background-color: #1b1b1b;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #f0f0f0;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #3b5999;
}

ul li:nth-child(2) a:before{
  background: #55acee;
}

ul li:nth-child(3) a:before {
  background: #cd486b;
}

