@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
@import './mixins';

//Fonts
$main-font: "Bebas Neue";

//Colors
$primary-color: #ff9933;
$secondary-color: #c7c7c7;
$background-color: #1b1b1b;

//Document

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
}

body {
  background-color: $background-color;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

// Page 1 - Header section
#particles-header {
  position: relative;
  height: 100vh;
  #hero {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    h1 {
      color: #bdbdbd;
      font-size: 26px;
      text-transform: uppercase;
      text-align: center;
      font-family: "Roboto";
      letter-spacing: 5px;
      span {
        &.adrenaline-title {
          color: #dcb624;
          text-transform: uppercase;
          text-align: center;
          font-family: "Roboto";
        }
      }
    }
  }
}

// Page 2 - About section
#about { 
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  &.sidebar-image {
    z-index: 1;
    background-color: $background-color;
  }

  @include mobile-only {
    height: auto;
    flex-direction: column;
    background: $background-color;
  }

  @include tablet-only {
    height: auto;
    flex-direction: column;
    background: $background-color;
  }

  .logo-about {
    position: relative;
    width: calc(50% + 150px);
    z-index: 2;
    @include mobile-only{
      width: 100%;
    }
    @include tablet-only{
      width: 100%;
      align-items: center;
    }
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 15% 0, 100% 100%, 0% 100%);
      width: 100%;
      height: 100vh;
      background-color: $background-color;
      z-index: -1;
      @include mobile-only {
        content: none;
      }
      @include tablet-only {
        content: none;
      }
    }
    .about-text {
      position: relative;
      font-family: $main-font;
      width: 500px;
      color: $secondary-color;
      font-weight: 300;
      font-size: 30px;
      width: 500px;
      z-index: 2;
      @include mobile-only {
        width: 100%;
      }
      p{
        @include tablet-only{
          text-align: center;
        }
      }
    }
    .about-contents {
      margin-top: 80px;
      @include mobile-only {
        display: flex;
      }
    }
  }

  .classes-title {
    position: relative;
    width: calc(50% - 150px);
    display: flex;
    justify-content: center;
    @include mobile-only {
      width: 100%;
    }
    @include tablet-only {
      width: 100%;
    }
  }

  // video section
  .video-bg{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    @include tablet-only{
      position: relative;
      left: unset;
      top: unset;
      margin-bottom: 20px;
    }
    @include mobile-only{
      position: relative;
      left: unset;
      top: unset;
      margin-bottom: 20px;
    }
    video {
      width: 100%;
      height: auto;   
      @include tablet-only{
        width: 100%;
        height: auto;
        min-height: unset;        
      }   
      @include mobile-only{
        width: 100%;
        height: auto;
        min-height: unset;        
      }   
    }
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(45deg, rgba($primary-color, 0.4) 100%, rgba($primary-color,0) 100%);
      background-size: 3px 3px;
      z-index: 2;
      @include tablet-only{
        content: none;
      }
      @include mobile-only{
        content: none;
      }
    }
  }
}

// Page 3 - Schedule section
#schedule {
  position: relative;
  min-height: 100vh;  
  display: flex;
  @include mobile-only {
    min-height: auto;
    height: auto;
  }
  @include tablet-only {
    min-height: auto;
    height: auto;
  }
  .schedule-section {
    background: url(../assets/images/schedule-section-1.png) no-repeat left top;
    background-size: 100%;
    order: 1;
    @include mobile-only {
      order: 2;
      border-radius: 15px;
      border: 1px solid #f79933;
      overflow: hidden;
    }
    @include tablet-only {
      order: 2;
      border-radius: 15px;
      border: 1px solid #f79933;
      overflow: hidden;
    }
    .schedule-contents {
      position: relative;
      table {
        font-family: $main-font;
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
        &#schedule-table {
          td {
            text-align: center;
            padding: 5px 0;
            @include mobile-only {
              padding: 5px 0;
              text-align: left;
            }
            @include tablet-only {
              padding: 5px 0;
              text-align: left;
            }
          }

          th {
            text-align: center;
            padding: 2px;
            letter-spacing: 4px;
            font-size: 25px;
            @include mobile-only {
              min-width: 100px;
            }
            @include tablet-only {
              min-width: 100px;
            }
          }

         

          .even {
            background-color: $primary-color;
            color: $background-color;
            margin: 5px;
            padding: 5px;
            &.highlight-row{            
              td{
                color: rgb(6, 185, 60);
              }
            }
          }

          .odd {
            background-color: $background-color;
            color: #e6e6e6;
            margin: 5px;
            padding: 5px;
            &.highlight-row{          
              td{
                color: rgb(6, 185, 60);
              }
            }
          }
        }
      }
    }
  }

  .schedule-card {
    position: relative;
    order: 2;
    @include mobile-only {
      order: 1;
    }
    @include tablet-only {
      order: 1;
    }
    .class-card {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 0 50%;
      .card-block {
        position: relative;
        margin: 30px auto;
        display: flex;
        height: 200px;
        width: 200px;
        border-radius: 30px;
        font-family: $main-font;
        letter-spacing: 2px;
        font-size: 20px;
        background: #2e2e2e;
        color: #ffffff;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 0.2s;
        @include mobile-only {
          height: 140px;
          width: 140px;
          border-radius: 10px;
          font-size: 16px;
        }
        &:hover {
          background: $primary-color;
        }
      }          
    }
    .button_container{
      position: relative;
      .private-class-content{
        position: relative;
        padding: 15px;
        margin-bottom: 20px;
        transition: all ease-in-out 0.2s;
        p{
          color: #ffffff;
        }
      }
    }  
  }
}

// Team section

.team {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  @include mobile-only {
    max-width: 420px;
    overflow: hidden;
  }
}

.team-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Bebas Neue";
  color: #c7c7c7;
  margin-top: 80px;
}

/* .person p {
  font-family: 'Bebas Neue';
  color: #c7c7c7;
} */

.person-name {
  font-family: 'Bebas Neue';
  color: #c7c7c7;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.personimage {
  width: 150px;
}

.arrows {
  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 50px;
}

.tags {
  background-color: #D9D9D9;
  color: #1b1b1b;
  border-radius: 20px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.handle {
  font-family: 'Bebas Neue';
  color: #dcb624;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

// Footer section
#footer {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  .footer-wave {
    position: relative;
    display: block;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    @include mobile-only {
      height: 200px;
    }
    @include tablet-only {
      height: 200px;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background: url(../assets/images/footer-wave.png) no-repeat left bottom;
      background-size: cover;
      width: 100%;
      height: 190px;
      z-index: 3;
      @include mobile-only {
        background-position: 0 0;
        background-size: 100%;
      }
      @include tablet-only {
        background-position: 0 -100px;
        background-size: 100%;
      }
    }
    #particles-footer {
      position: relative;
      width: 100%;
    }
    .socials {
      display: flex;
      position: absolute;
      right: 15%;
      top: calc(50% + 30px);
      transform: translateY(-50%);
      z-index: 4;
      @include mobile-only {
        left: 50%;
        top: calc(50% + 40px);
        transform: translate(-50%, -50%);
        right: unset;
      }
      @include tablet-only {
        left: 80%;
        top: calc(50% + 30px);
        transform: translate(-50%, -50%);
        right: unset;
      }
      a {
        position: relative;
        display: block;
        text-decoration: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        @include mobile-only {
          width: 50px;
          height: 50px;
        }
        img {
          width: 100%;
          height: auto;
        }
        + a {
          margin-left: 30px;
        }
      }
      // New design
      ul {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
          list-style: none;
          a {
            width: 80px;
            height: 80px;
            @include mobile-only {
              width: 60px;
              height: 60px;
              line-height: 55px;
              font-size: 24px;
              text-align: center;
            }
            background-color: $background-color;
            text-align: center;
            line-height: 80px;
            font-size: 35px;
            margin: 0 10px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 3px solid #fff;
            z-index: 1;
            .icon {
              position: relative;
              color: #f0f0f0;
              transition: .5s;
              z-index: 3;
            }
            &:hover {
              .icon {
                color: #fff;
                transform: rotateY(360deg);
              }
              &:before {
                top: 0;
              }
            }
            &:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              background: #f00;
              transition: .5s;
              z-index: 2;
            }
          }
          &:nth-child(1) {
            a {
              &:before {
                background: #3b5999;
              }
            }
          }
          &:nth-child(2) {
            a {
              &:before {
                background: #cd486b;
              }
            }
          }
        }
      }      
    }
  }
  .copyright-text {
    display: flex;
    width: 100%;
    color: #d2d2d2;
    justify-content: center;
    padding: 20px 0;
    background: $background-color;
    @include mobile-only {
      font-size: 12px;
      padding: 12px 0;
    }
  }
}

.footer-content {
  position: relative;
  width: 100%;
  color: $secondary-color;
  outline: #2e2e2e;
  background-color: rgb(27, 27, 27);
  padding-top: 90px;
  .footer-content-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    @include mobile-only {
      flex-direction: column;
    }
    .footer-logo {
      max-width: 250px;
      flex: 1;
      @include tablet-only {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }
    .footer-links {
      position: relative;
      display: flex;
      flex-wrap: wrap;      
      padding-left: 100px;
      @include tablet-only {
        flex: 1;
        padding-left: 50px;
      }
      @include mobile-only {
        padding-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .link-section {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #2e2e2e;
        + .link-section {
          margin-left: 30px;
        }
        @include mobile-only{
          flex-direction: row;
          border-left: unset;
          border-top: 1px solid #2e2e2e;
          border-bottom: 1px solid #2e2e2e;
        }
        a {
          text-decoration: none;
          margin: 15px 20px;
          span {
            color: $secondary-color;
            transition: all ease-in-out 0.2s;
          }
          &:hover {
            span {
              color: $primary-color;
            }
          }
          img {
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            max-width: 15px;
          }
        }
      }
    }
    .contact-details {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      padding-left: 30px;
      margin-left:30px;
      height: 100%;
      border-left: 1px solid #2e2e2e;
      @include mobile-only {
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        border-left: unset;
        padding-left: 0;
      }
      @include tablet-only{
        margin-left: 0;
      }
      p {
        margin: 15px 0;
        i {
          font-size: 26px;
          vertical-align: middle;
          color: #ffffff;
        }
        span {
          font-size: 16px;
        }
        i + span {
          margin-left: 10px;
        }
      }
    }
  }
  .footer-content i + span {
    margin-left: 10px;
  }
}

//other

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.w-50 {
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  @include mobile-only {    
    &:not(.card-box){ 
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @include tablet-only {    
    &:not(.card-box){ 
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &.w-md-30{
    @include tablet-only {  
      flex: 0 0 33%;
      max-width: 33%;
    }
  }  
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.logo-white,
.footer-logo {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.section-header {
  position: relative;
  font-size: 40px;
  margin-top: auto;
  margin-bottom: 20px;
  h1 {
    position: relative;
    display: block;
    font-family: $main-font;
    letter-spacing: 10px;
    color: #eaeaea;
    font-size: 2.5em;
    @include mobile-only {
      font-size: 1.8em;
    }
    @include tablet-only {
      font-size: 1.8em;
    }
    &.text-dark {
      color: $background-color;
    }
  }
  i {
    position: relative;
    font-size: 1.5em;
    color: #eaeaea;
    text-align: center;
  }
}

.text-center {
  text-align: center;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: $secondary-color;
  font-weight: 700;
  font-size: 30px;
  background-color: $background-color;
  padding: 10px 50px;
  margin: 40px 20px 20px;
  font-family: $main-font;
  letter-spacing: 5px;
  border-radius: 15px;
  border: 1px solid #2e2e2e;
  transition: all ease-in-out 0.2s;
  @include mobile-only {
    font-size: 20px;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:hover {
    span {
      color: $background-color;
    }
    &::after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 500%;
    width: 140%;
    background: $primary-color;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(15deg);
  }
}

.btn-link {
  display: inline-block;
  border: 0;
  outline: 0;
  border-radius: 25px;
  color: $background-color;
  background-color: $primary-color;
  font-family: $main-font;
  font-size: 20px;
  margin-bottom: 50px;
  margin-right: 0;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px;
  vertical-align: center;
  min-width: 120px;
  @include mobile-only {
    font-size: 16px;
    padding: 10px 16px;
    min-width: unset;
  }
  + .btn-link {
    margin-left: 40px;
    @include mobile-only {
      margin-left: 15px;
    }
  }

  i + span {
    margin-left: 10px;
  }
}

.mobile {
  display: none;
  @include mobile-only {
    display: block;
  }
}

.not-mobile {
  display: block;
}

.desktop-only {
  display: block;
  @include mobile-only {
    display: none;
  }
}

/* animations */

.hidden {
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(-100%); */
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  /* transform: translateX(100%); */
}

.btn-link:nth-child(2) {
  transition-delay: 200ms;
}

.btn-link:nth-child(3) {
  transition-delay: 300ms;
}
/* card animations */

.w-50:not(.card-box):nth-child(1) {
  transition-delay: 100ms;
}

.w-50:not(.card-box):nth-child(2) {
  transition-delay: 200ms;
}

.w-50:not(.card-box):nth-child(3) {
  transition-delay: 300ms;
}

.w-50:not(.card-box):nth-child(4) {
  transition-delay: 400ms;
}

.w-50:not(.card-box):nth-child(5) {
  transition-delay: 500ms;
}

.w-50:not(.card-box):nth-child(6) {
  transition-delay: 600ms;
}

/* animations end*/

/* careers page*/
.careers-body:before {
  content: "";
  background: url(https://i.postimg.cc/Bv2yqfrD/The-Team.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
.careers-body .careers {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  color: #ffffff;
  z-index: 4;
}
.careers-body .careers .careers-title {
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Bebas Neue';
  z-index: 5;
}
.careers-text {
  font-size: 50px;
  z-index: 5;
  color: #ffffff;
}


.slide-container{
  width: 75%;
  margin-top: 50px;

}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 50px;
}


.card{
  border-radius: 25px;
  background-color: #2e2e2e;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ff9933;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: 4px solid #363c4d; */
}
.name{
  font-size: 30px;
  font-weight: 500;
  color: #C7C7C7;
  font-family: 'Bebas Neue';
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-top: 5px;
}
.handle{
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #1b1b1b;
  padding: 8px 16px;
  background-color: #ff9933;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}


a:link {
  font-size: 16px;
  color: #1b1b1b;
  font-family: 'Bebas Neue';
}

a:visited {
  color: #1b1b1b;
}

.button:hover{
  background: #ff9933;
}

// .swiper {
//   padding: 50px
// }

.swiper-navBtn{
  color: #e0bc98;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #ff9933;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0px;
}
.swiper-button-prev{
  left: 0px;
}
.swiper-pagination-bullet{

  background-color: #e0bc98;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #ff9933;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

