@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

//Fonts

$main-font: "Bebas Neue";

//Colors
$primary-color: #FF9933;
$secondary-color: #C7C7C7;
$background-color: #1b1b1b;

//Document

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
// ---- //

// Header section
#particles-header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #hero {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
    
        h1 {
            color: #BDBDBD;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Roboto';
            letter-spacing: 5px;
            span{
                &.adrenaline {
                    color: #DCB624;
                    font-size: 40px;
                    text-transform: uppercase;
                    text-align: center;
                    padding-top:  40vh;
                    font-family: 'Roboto';
                }
            }
        }
    }
}
// end


// About
#about {  
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  background: url(../assets/images/page-2.jpg) no-repeat center;
  background-size: 100%;
  &.sidebar-image {
    z-index: 1; 
    background-color: #1B1B1B;
  }

  @media only screen and (max-width:767px) {
    //for tablet
  }

  @media only screen and (max-width:400px) {
    height: auto;
    flex-direction: column;
    background: #1B1B1B;
  }

  .logo-about {
    position: relative;
    width: calc(50% + 150px);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width:400px) {
      width: 100%;
      padding: 0 15px;
    }
    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      clip-path: polygon(0 0, 15% 0, 100% 100%, 0% 100%);
      width: 100%;
      height: 100vh;
      background-color: #1B1B1B;
      z-index: -1;
      @media only screen and (max-width:400px) {
        content:none;
      }
    }
    .about-text {
      position: relative;
      font-family: "Bebas Neue";
      width: 500px;
      color: #c7c7c7;
      font-weight: 300;
      font-size: 30px;  
      width: 500px;
      z-index: 2;
      @media only screen and (max-width:400px) {
        width: 100%;
      }
    }
    .about-contents {
      margin-top: 80px;
    }
  }
  
  .classes-title{
    position: relative;
    width: calc(50% - 150px);
    display: flex;
    justify-content: center;
  }

}
// end

// Schedule section
#schedule {
  height: 100vh;
  position: relative;
  display: flex;
  .schedule-section{
    background:url(../assets/images/schedule-section-1.png) no-repeat left top;
    background-size: 100%;
    order: 1;
    .schedule-contents {
      position: relative;
      table{
        font-family: "Bebas Neue";
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        border-collapse: collapse;
        &#schedule-table{
          td {
            text-align: center;
            padding: 1px;
          }
          
          th {
            text-align: center;
            padding: 2px;
            letter-spacing: 4px;
            font-size: 25px;
          }
          
          tr.highlight-row{
            background-color: red;
          }
          
          .even {
            background-color: $primary-color;
            color: #1b1b1b;
            margin: 5px;
            padding: 5px;
          }
          
          .odd {
            background-color: #1b1b1b;
            color: #E6E6E6;
            margin: 5px;
            padding: 5px;
          }
        }
      }
    }
  }
  .schedule-card{
    position: relative;
    order: 2;
    .class-card{
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 0 50%;
      .card-block{
        position: relative;
        margin: 30px auto;
        display: flex;
        height: 200px;
        width: 200px;
        border-radius: 30px;
        font-family: "Bebas Neue";
        letter-spacing: 2px;
        font-size: 20px;
        background: #2E2E2E;
        color: #ffffff; 
        text-decoration: none;
        align-items: center;
        justify-content: center;
        transition: all ease-in-out 0.2s;
        &:hover {
          background: #FF9933;
        }
      }
    }
  }
}
// end

// footer section
#footer {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  .footer-wave{
    position: relative;
    display: block;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &::after{
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background: url(../assets/images/footer-wave.png) no-repeat left bottom;
      background-size: cover;
      width: 100%;
      height: 190px;
      z-index: 3;
    }
    #particles-footer {
      position: relative;
      width: 100%;  
    }
    .socials {
      display: flex;
      position: absolute;  
      right: 15%;
      top: calc(50% + 30px);
      transform: translateY(-50%);
      a{
        position: relative;
        display: block;
        text-decoration: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
        }
        + a{
          margin-left: 30px;
        }
      }
    } 
  }
  .copyright-text {
    display: flex;
    width: 100%;
    color: #d2d2d2;
    justify-content: center;
    padding: 20px 0;
    background: #1b1b1b;
  }
}

.footer-content{
  position: relative;
  width: 100%;
  color: #c7c7c7;
  outline: #2E2E2E;  
  background-color: rgb(27, 27, 27);
  padding-top: 90px;
  .footer-content-wrap{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .footer-logo{
      max-width: 250px;
      flex: 1;
    }
    .footer-links{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex: 2;  
      padding-left: 100px;
      .link-section{
        display: flex;
        flex-direction: column; 
        border-left: 1px solid #2E2E2E;
        + .link-section{
          margin-left: 30px;
        }
        a {
          text-decoration: none;
          margin: 15px 20px;
          span{
            color: #C7C7C7;
            transition: all ease-in-out 0.2s;
          }
          &:hover{
            span{
              color: #FF9933;
            }
          }
          img{
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            max-width: 15px;
          }
        }
      }

    }
    .contact-details{
      display: flex;
      flex-direction: column;
      margin-left: auto;  
      padding-right: 50px;
      height: 100%;
      p{
        margin:15px 0;
        i{
          font-size: 26px;
          vertical-align: middle;
          color: #ffffff    ;
        }
        span{
          font-size: 16px;
        }
        i + span{
          margin-left: 10px;
        }
      }
    }    
  }
  .footer-content i + span{
    margin-left: 10px;
  }
}
// end


//other

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.w-50{
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}

.mx-auto{
  margin-left: auto !important;
  margin-right: auto !important;
}

.logo-white, .footer-logo {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.section-header{
  position: relative;
  font-size: 40px;
  margin-top:auto;
  margin-bottom: 20px;
  h1{
    position: relative;
    display: block;
    font-family: "Bebas Neue";
    letter-spacing: 10px;
    color: #EAEAEA;
    font-size: 2.5em;
    &.text-dark{
      color: #1b1b1b;
      }
    }
    i{
      position: relative;
      font-size: 1.5em;
      color: #EAEAEA;
      text-align: center;
    }    
}
  
.text-center{
  text-align: center;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #c7c7c7;
  font-weight: 700;
  font-size: 30px;
  background-color: #1b1b1b;
  padding: 10px 50px;
  margin: 40px 20px 20px;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  border-radius: 15px;  
  border: 1px solid #2e2e2e;
  transition: all ease-in-out 0.2s;
  span {
    position: relative; 
    z-index: 1;
  }
  &:hover{
    span{
      color:#1B1B1B;
    }
    &::after{
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 500%;
    width: 140%;
    background: #FF9933;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(15deg);
  }
}

.btn-link {
  display: inline-block;
  border: 0;
  outline: 0;
  border-radius: 25px;
  color: #1b1b1b;
  background-color: #FF9933;
  font-family: "Bebas Neue";
  font-size: 20px;
  margin-bottom: 50px;
  margin-right: 0;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px;
  vertical-align: center;
  min-width: 120px;
  @media only screen and (max-width:400px) {
    font-size: 16px;
    padding: 10px 16px;
    min-width: unset;
  }
  + .btn-link{
    margin-left: 40px;
    @media only screen and (max-width:400px) {
      margin-left: 15px;
    }
  }
  
  i + span{
    margin-left: 10px;
  }
}


//Fonts

$main-font: "Bebas Neue";


