* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(7, 7, 7, 0.65)), url(./images/backgroundtexture.webp);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.logo {
    width: 50px;
    cursor: pointer;
    border-radius: 100px;
    
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    color: #fff;
}

nav ul li a {
    
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #49493c;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.content {
    margin-top:  9%;
    color: #fff;
    max-width: 620px;
}

.content h1 {
    font-size: 50px;
    font-weight: 600;

}

/* .content form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
} */

.content form input {
    border: 0;
    outline: 0;
    width: 100%;
    padding-left: 10px;
}

.content form .btn {
    font-size: 15px;
    padding: 10px 30px;
}

.custom-shape-divider-bottom-1667922313 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1667922313 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1667922313 .shape-fill {
    fill: #C8B260;
}

section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 75%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #c7d40a 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #dad616;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #c7d133;
  }
  .card:hover h3 {
    color: #611515;
  }
  .card:hover p {
    color: #34aed3;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }