* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(7, 7, 7, 0.65)), url(./images/backgroundtexture.webp);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

.logo {
    width: 50px;
    cursor: pointer;
    border-radius: 100px;
    
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    color: #fff;
}

nav ul li a {
    
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #49493c;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
}


.btn img {
    width: 20px;
    margin-right: 10px;
}

.content {
    margin-top:  9%;
    color: #fff;
    max-width: 620px;
}

.content h1 {
    font-size: 50px;
    font-weight: 600;

}

/* .content form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
} */

/* .content form input {
    border: 0;
    outline: 0;
    width: 100%;
    padding-left: 10px;
}

.content form .btn {
    font-size: 15px;
    padding: 10px 30px;
} */

.custom-shape-divider-bottom-1667922313 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1667922313 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1667922313 .shape-fill {
    fill: #C8B260;
}

section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 75%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #c7d40a 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #dad616;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #c7d133;
  }
  .card:hover h3 {
    color: #611515;
  }
  .card:hover p {
    color: #34aed3;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }

  .footer1 {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 5;
  }

  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .row h3 {
    font-size: 20px;
  }

  .row p {
    font-size: 15px;
  }
  
.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
  flex-basis: 15%;
}

.logo-footer {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
}

.col ul {
  list-style: none;
  margin-bottom: 12px;
}

.col ul li a {
  text-decoration: none;
  color: #fff;

}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.sm-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}


hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 85px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;

}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}


@media (max-width: 700px) {
  footer{
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
  }
}

.contact-section {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact-bg {
  height: 40vh;
  background: linear-gradient(rgba(0,0,0,0.5) rgba(0,0,0,0.8)), url(./images/background.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-bg h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.contact-bg h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.4rem;
  letter-spacing: 4px;

}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 70px;
  background: #575a7b;
  border-radius: 50%;
}

.phone-num {
  font-weight: 300;
  opacity: 0.9;
}

.contact-text {
  margin: 1.6rem;
}

.contact-body {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 0.8rem;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #bdb107;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info .phone-num {
  padding-top: 1rem;
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}


.card-header {
  margin: 1rem;
  text-align: center;
}

.card-header> img{
  width: 200px;
  display: block;
  margin: 0 auto;

}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: auto;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  margin: 1rem;
  transition: all 0.2s ease-in;
}

.card-wrapper:hover {
  transform: scale(1.2);
  color: #5222d0;
}

.card-wrapper:hover .card-header> h2 {
  transform: scale(1.1);
}


.card-detail > p {

  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #d5d5d5;

}